{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hugues Roland EBENE - DevOps Engineer spécialisé dans AWS, Terraform, CI/CD et Big Data">
    <title>Hugues Roland EBENE - DevOps Engineer</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>

<body>
    <!-- En-tête avec photo de profil et introduction -->
    <header class="header-section">
        <div class="container">
            <!-- Image de profil et texte d'introduction -->
            <img src="{% static 'images/IMG_2367.jpg' %}" alt="Photo de Hugues Roland EBENE" class="profile-pic">
            <h1>Hugues Roland EBENE</h1>
            <p>DevOps Engineer | Data Engineer | Msc Applied Mathematics</p>

            <!-- Menu de navigation -->
            <nav>
                <ul>
                    <li><a href="#profil">Profil</a></li>
                    <li><a href="#parcours-academique">Parcours Académique</a></li>
                    <li><a href="#experiences">Expériences</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                    <li><a href="#projets">Mes Projets</a></li>
                    <li><a href="#competences">Compétences</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Section Profil -->
    <section id="profil" class="section">
        <div class="container">
            <h2>Profil</h2>
            <p>Ingénieur DevOps et Data, je suis diplômé de l'Efrei, l'école du numérique, où j'ai obtenu en 2023 un
                diplôme d'ingénieur en informatique avec une spécialisation en Big Data et Machine Learning 🎓. Mon
                parcours m'a permis d'acquérir une solide expertise en infrastructure cloud, CI/CD et automatisation,
                avec une spécialisation dans les environnements tels que AWS et Terraform. J'ai également exploré des
                outils et techniques avancés de Data Engineering, notamment en utilisant des technologies comme Spark,
                Hadoop et Kafka, essentielles pour le traitement de données massives.
            </p>
            <p>
                Passionné par les mathématiques appliquées et la science des données, j’ai complété ce bagage
                scientifique en menant des recherches et des projets dans le domaine de l'analyse de données et de la
                modélisation mathématique. Mon expertise s'étend ainsi aux systèmes d’information et à l'optimisation
                des processus, ce qui me permet de résoudre des problématiques complexes à l'aide de modèles
                mathématiques et d’algorithmes de Machine Learning.
            </p>
            <p>
                Parallèlement à mes études, j'ai débuté en 2014 une carrière en enseignement, offrant des cours
                particuliers avant de devenir enseignant vacataire dans des écoles d’ingénieurs. J'y ai enseigné des
                matières allant des mathématiques avancées aux systèmes d'information, en intégrant des concepts de Data
                Science et de Machine Learning pour préparer les étudiants aux défis techniques du monde professionnel.
            </p>
            <p>Cette expérience académique et professionnelle me permet aujourd'hui d’allier la rigueur scientifique des
                mathématiques appliquées, l’analyse de données et l'efficacité des pratiques DevOps. Mon objectif est de
                devenir Architecte Cloud et Data, en développant des solutions qui allient innovation technologique et
                exploitation des données pour une approche plus intelligente et performante des systèmes.

            </p>
        </div>
    </section>
    <!-- Section Parcours Académique -->
    <section id="parcours-academique" class="section">
        <div class="container">
            <h2>Parcours Académique</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-icon">1</div>
                    <div class="timeline-content">
                        <h3>Datascientest</h3>
                        <span>(2024)</span>
                        <p>Bootcamp DevOps - Administration des systèmes Linux</p>

                        <p> Cette formation intensive m'a permis d'acquérir une expertise technique approfondie en
                            DevOps et en administration de systèmes sous Linux. Au cours de ce bootcamp, j'ai eu
                            l'opportunité de me familiariser avec un ensemble d’outils et de technologies essentiels
                            pour la gestion, le déploiement et la surveillance d’infrastructures modernes.</p>
                        <p>Cloud et Infrastructure as Code (IaC) : J'ai appris à concevoir et gérer des infrastructures
                            en utilisant AWS pour le déploiement cloud et Terraform pour l'Infrastructure as Code,
                            facilitant ainsi le déploiement et la gestion automatisée des ressources cloud. La formation
                            m'a également initié à Vagrant pour la gestion d’environnements de développement
                            reproductibles.</p>

                        <p>Conteneurisation et Orchestration : J'ai travaillé avec Docker pour la conteneurisation des
                            applications, simplifiant ainsi les déploiements et améliorant la portabilité des services.
                            Pour la gestion de clusters de conteneurs, Kubernetes a été utilisé pour orchestrer les
                            déploiements en production, garantissant la scalabilité et la résilience des applications.
                        </p>

                        <p>Automatisation et CI/CD : La formation a mis un accent particulier sur l'automatisation des
                            workflows et la gestion des pipelines CI/CD. J'ai maîtrisé Jenkins pour créer des pipelines
                            de déploiement automatisé, Ansible pour la gestion de configuration et l'automatisation des
                            tâches système, ainsi que Bash et Python pour les scripts d'automatisation et la gestion des
                            systèmes.</p>

                        <p> Surveillance et Logs : Pour assurer la surveillance des systèmes et le suivi des
                            performances, j'ai appris à utiliser des outils comme Grafana et Prometheus, permettant une
                            visibilité complète sur l’infrastructure et une détection proactive des anomalies. Le stack
                            ELK (Elasticsearch, Logstash, Kibana) a également été exploré pour la centralisation et
                            l'analyse des logs, facilitant ainsi le diagnostic des problèmes et l’optimisation des
                            performances.</p>

                        <p>Serveurs et Réseaux : La configuration de serveurs avec Nginx a renforcé mes compétences en
                            gestion de serveurs et en optimisation des performances web, tandis que la formation m'a
                            permis d'acquérir une bonne maîtrise des bases de données NoSQL pour le stockage et la
                            gestion de données non structurées.
                        </p>
                        <p>
                            Grâce à ce bootcamp, j'ai acquis les compétences nécessaires pour construire, déployer et
                            gérer des infrastructures modernes et résilientes, en intégrant des pratiques DevOps
                            avancées pour l'automatisation, la sécurité et la performance. Cette formation constitue une
                            base solide pour évoluer dans des environnements techniques complexes et prendre en charge
                            des projets de transformation numérique.

                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">2</div>
                    <div class="timeline-content">
                        <h3>EFREI Paris</h3>
                        <span>(2021 - 2023)</span>
                        <p>Cycle ingénieur informatique mention Big Data et Machine Learning.</p>
                        <p>Au cours de ce cycle d’ingénierie, j'ai développé une expertise approfondie en Big Data et
                            Machine Learning, me permettant d’aborder le traitement et l'analyse de données massives,
                            ainsi que la création de modèles prédictifs pour résoudre des problématiques complexes.
                            Cette formation m'a permis de maîtriser un large éventail de technologies et de
                            méthodologies au cœur des systèmes de données modernes.</p>
                        <p>Big Data et Traitement de Données Massives : J'ai appris à manipuler et traiter de grands
                            volumes de données en utilisant des technologies de traitement distribué telles que Apache
                            Hadoop et Apache Spark. Ces outils permettent de traiter efficacement des ensembles de
                            données massifs en parallèle, rendant possible l’analyse de données à grande échelle pour
                            des applications variées.</p>
                        <p>Data Engineering et Pipelines de Données : La formation m'a permis de concevoir et
                            d’optimiser des pipelines de données robustes, utilisant des technologies comme Kafka pour
                            le streaming de données en temps réel, et Apache NiFi pour l’automatisation des flux de
                            données. J'ai également acquis une expertise dans le stockage de données avec des bases de
                            données NoSQL telles que MongoDB et Cassandra, adaptées aux données non structurées et à la
                            scalabilité.</p>
                        <p>Infrastructure Cloud pour la Data : Pour la gestion des infrastructures de données, j'ai
                            travaillé avec des services AWS (comme AWS S3 pour le stockage de données et AWS EMR pour le
                            traitement de Big Data), ce qui m'a permis de développer des solutions évolutives et
                            rentables pour les charges de travail intensives en données. J’ai également appris à
                            intégrer ces technologies dans des environnements hybrides et multi-cloud.</p>
                        <p>Machine Learning et Modélisation Prédictive : J'ai acquis une expertise dans le développement
                            de modèles de machine learning en utilisant Python et des bibliothèques comme scikit-learn,
                            TensorFlow, et Keras. Ces outils m’ont permis de créer des modèles prédictifs, d’implémenter
                            des algorithmes supervisés et non supervisés, et de travailler sur des problématiques telles
                            que la classification, la régression et le clustering.</p>
                        <p>Analyse et Visualisation des Données : J'ai également développé des compétences en
                            visualisation de données pour interpréter et communiquer les résultats des analyses. J’ai
                            utilisé Tableau et Power BI pour créer des tableaux de bord interactifs, ainsi que
                            Matplotlib et Seaborn pour des visualisations en Python, ce qui me permet de transformer les
                            données en insights exploitables pour la prise de décision.</p>
                        <p>Optimisation et Gestion de Modèles : En plus de l'entraînement des modèles, j’ai appris à
                            déployer et optimiser des modèles en production, en intégrant des pratiques de MLOps.
                            L’utilisation de Docker et Kubernetes pour le déploiement de modèles dans des environnements
                            conteneurisés m’a permis de maîtriser la scalabilité et la résilience des solutions de
                            machine learning.</p>
                        <p>Grâce à cette formation, j'ai acquis une expertise complète pour concevoir, implémenter et
                            déployer des solutions de Big Data et Machine Learning. Mes compétences me permettent de
                            gérer l’ensemble du cycle de vie des données, de l'ingestion à l'analyse et à la mise en
                            production des modèles, en intégrant les pratiques d'ingénierie des données et de science
                            des données pour répondre aux besoins des entreprises modernes.</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">3</div>
                    <div class="timeline-content">
                        <h3>Université de Douala</h3>
                        <span>(2016 - 2022)</span>
                        <p>Cycle licence, master, et doctorat mention Mathématiques Appliquées aux Sciences de
                            l'Ingénieur.</p>
                        <p>Ce cycle universitaire approfondi en Mathématiques Appliquées aux Sciences de l'Ingénieur m'a
                            permis de développer une expertise en modélisation mathématique, analyse numérique, et
                            résolution de problèmes complexes dans des contextes industriels et scientifiques. Ce
                            parcours, allant de la licence au doctorat, m'a donné les outils nécessaires pour aborder
                            des problématiques variées, en appliquant des techniques mathématiques avancées et des
                            méthodes d'optimisation.</p>
                        <p>Modélisation Mathématique et Équations Différentielles : J'ai acquis des compétences solides
                            en modélisation mathématique pour représenter et résoudre des systèmes physiques complexes.
                            L'étude et la résolution d'équations différentielles ordinaires (EDO) et partielles (EDP)
                            m'ont permis de modéliser des phénomènes dynamiques dans des domaines tels que la mécanique
                            des fluides, la thermodynamique, et les systèmes de contrôle.</p>
                        <p>Analyse Numérique et Algorithmes : J'ai étudié des méthodes d’analyse numérique pour
                            l'approximation des solutions, en utilisant des algorithmes avancés pour des calculs de
                            haute précision. Des outils comme MATLAB et Python (avec des bibliothèques comme NumPy et
                            SciPy) ont été utilisés pour implémenter ces méthodes et analyser les résultats de
                            simulations numériques.</p>
                        <p>Optimisation et Recherche Opérationnelle : Mon parcours m'a permis de développer des
                            compétences en optimisation, en travaillant sur des méthodes telles que la programmation
                            linéaire, non linéaire et les algorithmes de recherche opérationnelle. Ces compétences sont
                            essentielles pour résoudre des problématiques d’optimisation dans des contextes d'ingénierie
                            et de gestion des ressources, en minimisant ou maximisant des fonctions d’objectif
                            complexes.</p>
                        <p>Probabilités et Statistiques Avancées : J'ai également étudié les probabilités et
                            statistiques avancées, qui jouent un rôle crucial dans l’analyse de données et la prise de
                            décision sous incertitude. L’application de ces concepts m'a permis de développer une
                            expertise en modélisation stochastique, utilisée pour prévoir et analyser des phénomènes
                            aléatoires dans des systèmes industriels.</p>
                        <p>Simulation et Analyse des Systèmes Complexes : La maîtrise des méthodes de simulation m'a
                            permis d’analyser le comportement de systèmes complexes et de valider les modèles
                            théoriques. Les simulations, réalisées avec des outils comme MATLAB et Simulink, permettent
                            d’explorer et d’optimiser des scénarios variés, notamment dans les domaines de l’ingénierie
                            des systèmes et de la gestion de projet.</p>
                        <p>Thèse de Doctorat et Recherche : Dans le cadre de mon doctorat, j'ai mené des recherches
                            poussées dans un domaine spécifique des mathématiques appliquées aux sciences de
                            l’ingénieur, en développant de nouveaux modèles et méthodes pour résoudre des problèmes
                            concrets. Cette expérience de recherche m’a permis de renforcer mes compétences en analyse
                            critique, en gestion de projet, et en communication scientifique, en publiant et présentant
                            mes travaux dans des conférences et revues académiques.</p>
                        <p>Grâce à cette formation de haut niveau, j'ai acquis une compréhension approfondie des
                            méthodes mathématiques et de leurs applications pratiques dans les sciences de l’ingénieur.
                            Ce parcours me permet aujourd'hui d'aborder des défis techniques complexes avec une approche
                            rigoureuse et analytique, en intégrant des concepts de modélisation, d'optimisation et de
                            simulation pour concevoir des solutions innovantes et efficaces.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section Expériences -->
    <section id="experiences" class="section">
        <div class="container">
            <h2>Expériences</h2>
            <div class="timeline">
                <!-- Enseignant vacataire -->
                <div class="timeline-item">
                    <div class="timeline-icon">1</div>
                    <div class="timeline-content">
                        <h3>Enseignant vacataire - ESILV ELMV - CDD</h3>
                        <span>Janvier 2024 - Juillet 2024</span>
                        <ul>
                            <li>Manipulation d'outils avancés d'analyse, incluant l'intégrale de Lebesgue dans le cadre
                                de
                                l'analyse de Fourier.</li>
                            <li>Application de la transformation de Fourier pour l'étude et la résolution des équations
                                différentielles ordinaires (EDO) et partielles (EDP).</li>
                        </ul>
                    </div>
                </div>

                <!-- DevOps Engineer -->
                <div class="timeline-item">
                    <div class="timeline-icon">2</div>
                    <div class="timeline-content">
                        <h3>DevOps Engineer - NEERO - CDD</h3>
                        <span>Mars 2023 - Septembre 2024</span>
                        <ul>
                            <li>Automatisation des processus et des déploiements dans le cloud AWS en utilisant les
                                outils
                                de CI/CD et Terraform pour l'Infrastructure as Code.</li>
                            <li>Architecture, évolution et maintenance des systèmes liés aux applications.</li>
                            <li>Automatisation des tâches récurrentes au sein de l'équipe.</li>
                            <li>Amélioration des stacks techniques et participation à l'évolution du système de
                                déploiements.</li>
                        </ul>
                    </div>
                </div>

                <!-- Data Engineer -->
                <div class="timeline-item">
                    <div class="timeline-icon">3</div>
                    <div class="timeline-content">
                        <h3>Data Engineer - DATAIDRAW - Stage</h3>
                        <span>Avril 2023 - Septembre 2023</span>
                        <ul>
                            <li>Intégration des outils CI/CD dans le workflow pour automatiser la collecte de données
                                par
                                web scraping.</li>
                            <li>Développement de scripts Python pour l'extraction de données web et interaction avec les
                                données stockées sur AWS.</li>
                            <li>Gestion des données : fusion, nettoyage et formatage des bases de données.</li>
                            <li>Automatisation des tâches à l'aide des outils CI/CD intégrés dans le processus de
                                développement.</li>
                            <li>Création et maintenance de scripts conteneurisés pour le déploiement.</li>
                            <li>Mise en place d'un système d'alertes via email et Slack.</li>
                        </ul>
                    </div>
                </div>

                <!-- Data Scientist -->
                <div class="timeline-item">
                    <div class="timeline-icon">4</div>
                    <div class="timeline-content">
                        <h3>Data Scientist - Conseil Régional d'Île-de-France - Stage</h3>
                        <span>Novembre 2021 - Mars 2022</span>
                        <ul>
                            <li>Analyse des données sur la fluctuation du trafic routier pendant la pandémie de
                                COVID-19.</li>
                            <li>Analyse des données de l'application Waze pour comprendre les irrégularités de trafic
                                dans certaines communes.</li>
                            <li>Création de tableaux de bord de reporting avec Power BI.</li>
                            <li>Utilisation d'algorithmes de Machine Learning (NLP) pour thématiser les jeux de données.
                            </li>
                            <li>Utilisation de Postman pour envoyer des requêtes HTTP et extraire des données.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Certifications -->
    <section id="certifications" class="section">
        <div class="container">
            <h2>Certifications</h2>
            <div class="certifications-container">
                <!-- Certification AWS -->
                <div class="certification">
                    <img src="{% static 'images/image_aws.png' %}" alt="AWS Certified Solutions Architect - Associate">
                    <ul>
                        <li><strong>Certification :</strong> AWS Certified Solutions Architect - Associate</li>
                        <li><strong>Date d'obtention :</strong> Avril 2024</li>
                        <li><strong>Description :</strong> Conception et déploiement d'architectures évolutives et
                            sécurisées sur AWS.</li>
                    </ul>
                </div>

                <!-- Certification Terraform -->
                <div class="certification">
                    <img src="{% static 'images/image_harchicorp.png' %}"
                        alt="HashiCorp Certified: Terraform Associate">
                    <ul>
                        <li><strong>Certification :</strong> HashiCorp Certified: Terraform Associate</li>
                        <li><strong>Date d'obtention :</strong> Mars 2024</li>
                        <li><strong>Description :</strong> Automatisation de l'infrastructure via Infrastructure as Code
                            avec Terraform.</li>
                    </ul>
                </div>

                <!-- Certification Azure -->
                <div class="certification">
                    <img src="{% static 'images/DP_300.png' %}" alt="Microsoft Azure DP300">
                    <ul>
                        <li><strong>Certification :</strong> Microsoft Azure DP203</li>
                        <li><strong>Date d'obtention :</strong> Mai 2023</li>
                        <li><strong>Description :</strong> Analyse de données et intégration d'applications cloud avec
                            Microsoft Azure.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Projets -->
    <section id="projets" class="section">
        <div class="container">
            <h2>Mes Projets</h2>
            <div class="projets-grid">
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/DjangoApp" target="_blank">DjangoApp</a></h3>
                    <p>Déploiement d'une application Django sur AWS en utilisant ECS (Elastic Container Service) et ECR
                        (Elastic Container Registry) pour une mise en production scalable et optimisée.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Terraform-project1" target="_blank">Terraform Project</a>
                    </h3>
                    <p>Projet d'infrastructure as code utilisant Terraform pour construire, déployer et automatiser le
                        déploiement d'un site web WordPress.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Jan24_poet_storm_web1"
                            target="_blank">Jan24_poet_storm_web1</a></h3>
                    <p>Un projet de création d’une application web basée sur la conception modulaire et les
                        microservices.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Jenkins-CI-CD-Pipeline" target="_blank">Jenkins CI/CD
                            Pipeline</a></h3>
                    <p>Un pipeline CI/CD complet utilisant Jenkins pour automatiser les builds, les tests, et le
                        déploiement dans un environnement de production.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Home-Credit-Risk-Classification" target="_blank">Home
                            Credit Risk Classification</a></h3>
                    <p>Projet de classification de risques de crédit en utilisant des techniques de machine learning
                        pour évaluer la solvabilité des clients.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/CI_WITH_GITHUB" target="_blank">CI avec GitHub
                            Actions</a></h3>
                    <p>Projet démontrant l'intégration continue avec GitHub Actions pour automatiser les tests et le
                        déploiement de l'application.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Application-of-Big-Data" target="_blank">Application of
                            Big Data</a></h3>
                    <p>Introduction au Big Data et son application à grande échelle, incluant des outils pour la gestion
                        et l'analyse des données massives.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/My_test_app" target="_blank">My Test App</a></h3>
                    <p>Application de test développée pour expérimenter et tester divers concepts de développement
                        d'applications.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Data-Lakes-Data-Integration" target="_blank">Data Lakes
                            Data Integration</a></h3>
                    <p>Projet d'intégration de données dans un Data Lake, avec extraction de données provenant de
                        multiples sources pour une centralisation efficace.</p>
                </div>
                <div class="projet-card">
                    <h3><a href="https://github.com/Hugues4049/Mon-projet-de-visualisation" target="_blank">Mon Projet
                            de Visualisation</a></h3>
                    <p>Application web pour visualiser les données YouTube d'un utilisateur en utilisant Streamlit,
                        offrant des analyses des musiques les plus écoutées et des artistes les plus suivis.</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Section Compétences -->
    <section id="competences" class="section">
        <div class="container">
            <h2>Compétences</h2>
            <div class="competences-grid">
                <div class="competence-card">
                    <h3>Cloud Computing</h3>
                    <p>Au-delà de AWS, je suis curieux autour des autres cloud provider : AZURE, Oracle OCI, Google GCP
                        et OVH pour le cloud web. J’ai aussi travaillé sur un sujet de migration Cloud.</p>
                </div>
                <div class="competence-card">
                    <h3>Infrastructure as Code</h3>
                    <p>Je maîtrise les technologies d’IaC depuis que j’ai commencé ma carrière. Terraform(dont je suis
                        certifié) pour
                        commencer, puis Helm et Ansible après. J’ai récemment compris le fonctionnement de Vault
                        .</p>
                </div>
                <div class="competence-card">
                    <h3>CI/CD</h3>
                    <p>J’ai développé diverses pipelines CI/CD avec GitHub Actions et AWS codepipeline pendant mon
                        stage,
                        GitLab CI et Jenkins chez DataIdraw et NEERO. Je suis un fervent partisan de l’automatisation et
                        c’est ce
                        que j’utilise pour mon blog.</p>
                </div>
                <div class="competence-card">
                    <h3>Programmation</h3>
                    <p>

                        J'ai développé une solide expertise en Python, Bash, et Scala, qui me permettent de créer des
                        scripts et d'automatiser des tâches complexes dans divers environnements.</p>
                </div>
                <div class="competence-card">
                    <h3>Big Data & Data Engineering</h3>
                    <p>Mon expertise en Hadoop, Spark, Kafka, et HDFS me permet de traiter et d'analyser des données à
                        grande échelle de manière efficace. </p>
                </div>
                <div class="competence-card">
                    <h3>Bases de données</h3>
                    <p>J'ai acquis une solide expérience dans la gestion de bases de données avec MongoDB, MySQL, et
                        PostgreSQL.</p>
                </div>
            </div>
        </div>
    </section>




    <!-- Section Contact -->
    <section id="contact" class="section">
        <div class="container">
            <h2>Contact</h2>
            <div class="contact-icons">
                <a href="mailto:titoebene@gmail.com" target="_blank" title="Email">
                    <img src="{% static 'icons/mail.png' %}" alt="Email">
                </a>
                <a href="https://github.com/Hugues4049" target="_blank" title="GitHub">
                    <img src="{% static 'icons/github.png' %}" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/roland-ebene-67473220b" target="_blank" title="LinkedIn">
                    <img src="{% static 'icons/link.png' %}" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/your_instagram" target="_blank" title="Instagram">
                    <img src="{% static 'icons/insta.jpeg' %}" alt="Instagram">
                </a>
                <a href="https://twitter.com/your_twitter" target="_blank" title="X (Twitter)">
                    <img src="{% static 'icons/X.png' %}" alt="X">
                </a>
                <a href="https://wa.me/+33695802306" target="_blank" title="WhatsApp">
                    <img src="{% static 'icons/whatsap.png' %}" alt="WhatsApp">
                </a>
                <a href="tel:+33695802306" title="Téléphone">
                    <img src="{% static 'icons/tel.png' %}" alt="Téléphone">
                </a>
            </div>
        </div>
    </section>


    <!-- Pied de page -->
    <footer>
        <div class="container">
            <p>© 2024 Hugues Roland EBENE. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>